A {TEXT-DECORATION: none}
A:hover {TEXT-DECORATION: none}
::-webkit-scrollbar{width: 0px; height: 0px }
* { margin:0; padding:0; }
html {background: transparent; height: 100%;}
font {font-family: Arial; color: #F0F0F0}
body {
opacity:0;
opacity:1;
height:100%;
background: #264264;//-webkit-linear-gradient(top, #223344, #334455, #445566);
cursor: default; margin: 0 }
input, textarea, select  {outline: 0}
canvas {
border-style: solid;
border-width: 0px;
border-radius: 5em; 
box-shadow: grey 0.0em 0.0em 0.5em }
.menu {
background-color: transparent;
position: relative;
padding: 0.0em;
margin: 0.0em 0.0em;
box-shadow: black 0.0em 0.0em 0.3em }
.celula {
position: relative;
-webkit-appearance: none;
padding: 0.5em;
margin: 0.0em 0.0em;
border-radius: 0.0em;
box-shadow: black 0.0em 0.0em 0.0em }
.painel {
position: relative;
background-color: transparent;
-webkit-appearance: none;
border-style: solid;
border-width: 0px;
padding: 0.3em;
margin: 0.1em 0.1em;
border-radius: 0.3em;
box-shadow: #223344 0.1em 0.1em 0.5em }
.btimg {
background-color: transparent;
width: 50;
height: 50;
position: relative;
border-style: solid;
border-width: 0px;
padding: 0.0em;
margin: 0.0em 0.0em;
border-radius: 0.3em;
-webkit-filter: grayscale(50%);
box-shadow: grey 0.0em 0.0em 0.0em }

.main {
    min-height:100%; 
    position:relative; 
    width:100%;
    margin: 0 auto;
}
.content{   
    width: 100%;
}
#footer{    
    position:absolute;
    bottom:0; 
    width:100%;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-webkit-keyframes fadeOut {
0% { opacity: 0; }
100% { opacity: 1; } 
}

.fadeIn {
opacity:0;
-webkit-animation: fadeIn 5s;
-webkit-animation-fill-mode:forwards;
-webkit-animation-direction:alternate;
-webkit-animation-iteration-count:infinite;
opacity:1
}

.fadeOut {
-webkit-animation: fadeOut 1s;
}

.icon {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background .1s;
}
.icon:active {
  background: #505050;
}
.hamburger-icon:before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: 70%;
  height: 2px;
  border-radius: 2px;
  background: #5CACEE;
  box-shadow: 0 -6px 0 #5CACEE, 0 6px 0 #5CACEE;
}
.toque:active {
  border-radius: 0.5em;
  background: #708090;
}
.Ctoque:active {
  border-radius: 5em;
  background: #708090;
}
#topo {
	position: fixed;
	top: 0px;
	height: 55px;
	width: 100%;
	z-index: 1000;
	overflow: hidden;
}
#corpo {
	position: relative;
	z-index: 1;
	top: 55px;
	bottom: 70px;
}
#rodape {
	position: fixed;
	bottom: 0px;
	height: 70px;
	width: 100%;
	z-index: 100;
	overflow: hidden;
}
.contexto {text-align: center; box-shadow: #909090 0em 0.1em 0.2em; display: inline-block; overflow: hidden; position: relative; background: #F5F5F5; cursor: hand;}
.painelB {-ms-zoom: 0.25; -moz-transform: scale(0.25); -moz-transform-origin: 0 0; -o-transform: scale(0.25); -o-transform-origin: 0 0; -webkit-transform: scale(0.25); -webkit-transform-origin: 0 0;}
.painelB {width: 200%; height: 200%;}
.tela {width: 200%; height: 165%;}
.titulo {width: 200%; height: 35%; margin-top: 10; font-family: Arial; font-size: 400%}
.painelB:after {content: ""; display: block; position: absolute; width: 200%; height: 200%; top: 0; left: 0; right: 0; bottom: 0;}
